.presentation-card {
    margin: 0%;
    padding: 0%;
    background-color: bisque;
    color: blue;
    aspect-ratio: 16/9;
    box-shadow: tomato;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  
  .presentation-card img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-color: black;
  }
  